.error
{
    color: #a00000;
}

.ui
{
    position: absolute;
    top: 0;
    color: white;
    width: 100%;
}

.message
{
    
}

.message.message-main
{
    
}

.message.message-secondary
{
    
}




.game-ui
{

}

.game-ui .menu
{
    cursor: default;
    position: fixed;
    right: 10px;
    top: 10px;
}

.game-ui .menu .dropdown-content
{
    background-color: white;
    color: black;
    border-radius: 5px;
    min-width: 100px;
}


.waiting-ui>h3
{
    margin-top: 40px;
    text-align: center;
}

.waiting-ui .home
{
    background-color: transparent;
    color: white;
}

.waiting-ui .code
{
    padding-top: 30px;
    text-align: center;
    font-size: larger;
}

.waiting-ui .share
{
    margin-top: 30px;
}

.waiting-ui i
{
    cursor: pointer;
    font-size: 40px;
}

.waiting-ui .share
{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.waiting-ui .copy
{
    background-color: transparent;
    border: none;
    color: lightblue;
}

.waiting-ui .copy .tooltip
{
    color: green;
    /* animation: none; */
    opacity: 0;
}