.error
{
    color: #a00000;
}

.ui
{
    position: absolute;
    top: 0;
    color: white;
}

.message
{
    
}

.message.message-main
{
    
}

.message.message-secondary
{
    
}




.game-ui
{

}

.game-ui .menu
{
    cursor: default;
    position: fixed;
    right: 10px;
    top: 10px;
}

.game-ui .menu .dropdown-content
{
    background-color: white;
    color: black;
    border-radius: 5px;
    min-width: 100px;
}


.waiting-ui i
{
    cursor: pointer;
}

.waiting-ui .tooltip
{
    color: green;
    animation: none;
    opacity: 0;
}

.waiting-ui .tooltip.fading
{
    animation: fade 1.5s forwards;
}


@keyframes fade {
    from{
        opacity: 1;
    }

    50%{
        opacity: 1;
    }

    to{
        opacity: 0;
    }
}